Repository swiftlang/swift-org-website, changes with the owners that CODEOWNERS names for each.
All owners: @swiftlang/website-workgroup, @timsneath, @tkremenek, @shahmishal, @davelester, @swiftlang/contributor-experience, @ktoso, @czechboy0, @heckj

CODEOWNERS:

# This file is a list of the people responsible for ensuring that patches for a
# particular part of Swift.org are reviewed, either by themselves or by someone else.
# They are also the gatekeepers for their part of Swift.org, with the final word on
# what goes in or not.
#
# The list is sorted by surname and formatted to allow easy grepping and
# beautification by scripts.  The fields are: name (N), email (E), web-address
# (W), PGP key ID and fingerprint (P), description (D), and snail-mail address
# (S).

# N: Ben Cohen
# E: ben_cohen@apple.com
# D: Apple, Swift core team

# N: Mishal Shah
# E: mishal_shah@apple.com
# D: Apple, Swift core team

# N: Ted Kremenek
# E: kremenek@apple.com
# D: Apple, Swift core team

###

# The following lines are used by GitHub to automatically recommend reviewers.
#
# Lines starting with '#' are comments.
# Each line is a case-sensitive file pattern followed by one or more owners.
# Order is important â€” the last matching pattern has the most precedence.
# More information: https://docs.github.com/en/articles/about-code-owners
#
# Please mirror the repository's file hierarchy in case-sensitive lexicographic
# order.

* @swiftlang/website-workgroup

CODEOWNERS @timsneath @tkremenek @shahmishal @davelester
/index.md @timsneath @tkremenek @shahmishal @davelester
/_data/new-data/landing/* @timsneath @tkremenek @shahmishal @davelester
/_posts/* @timsneath @tkremenek @shahmishal @davelester

/contributor-experience-workgroup/ @swiftlang/contributor-experience

/gsoc*/ @ktoso

/openapi/ @czechboy0 @heckj

[Blog] Add a draft of the Swift 6.2 release blog post.
  _posts/2025-NN-NN-swift-6.2-released.md
Owners: @timsneath, @tkremenek, @shahmishal, @davelester

[Release] Swift 6.1.3
  _data/builds/swift_releases.yml
Owners: @swiftlang/website-workgroup

Update .ruby-version to 3.3.7
  .ruby-version
Owners: @swiftlang/website-workgroup

feat(blog-page): Add IP blog redesign work.
  _data/new-data/blog/page-data.yml
  _data/new-data/get-started/storybook/image-text-row.yml
  _includes/new-includes/components/card-grid.html
  _includes/new-includes/components/hero-card.html
  _layouts/new-layouts/base.html
  assets/images/icon-arrow-dark.svg
  assets/images/icon-arrow-light.svg
  assets/images/icon-check-dark.svg
  assets/images/icon-check-light.svg
  assets/images/icon-dropdown-close-dark.svg
  assets/images/icon-dropdown-close.svg
  assets/images/shared-swoops/swoop-0.png
  assets/javascripts/new-javascripts/blog.js
  assets/stylesheets/new-stylesheets/_pages.scss
  assets/stylesheets/new-stylesheets/_themes.scss
  assets/stylesheets/new-stylesheets/pages/_blog.scss
  assets/stylesheets/new-stylesheets/pages/_install.scss
  blog/index.html
  blog/index.md
Owners: @swiftlang/website-workgroup

chor(blog-page): Revert inadvertent updates to base.html.
  _layouts/new-layouts/base.html
Owners: @swiftlang/website-workgroup

Add Nightly swift-6.2-DEVELOPMENT-SNAPSHOT-2025-09-05-a
  _data/builds/swift-6_2-branch/amazonlinux2-aarch64.yml
  _data/builds/swift-6_2-branch/amazonlinux2.yml
  _data/builds/swift-6_2-branch/debian12-aarch64.yml
  _data/builds/swift-6_2-branch/debian12.yml
  _data/builds/swift-6_2-branch/fedora39-aarch64.yml
  _data/builds/swift-6_2-branch/fedora39.yml
  _data/builds/swift-6_2-branch/static-sdk.yml
  _data/builds/swift-6_2-branch/ubi9-aarch64.yml
  _data/builds/swift-6_2-branch/ubi9.yml
  _data/builds/swift-6_2-branch/ubuntu2204-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2204.yml
  _data/builds/swift-6_2-branch/ubuntu2404-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2404.yml
  _data/builds/swift-6_2-branch/wasm-sdk.yml
  _data/builds/swift-6_2-branch/xcode.yml
Owners: @swiftlang/website-workgroup

[Windows] Add Nightly swift-6.2-DEVELOPMENT-SNAPSHOT-2025-09-05-a
  _data/builds/swift-6_2-branch/windows10-arm64.yml
  _data/builds/swift-6_2-branch/windows10.yml
Owners: @swiftlang/website-workgroup

Add Nightly swift-6.2-DEVELOPMENT-SNAPSHOT-2025-09-06-a
  _data/builds/swift-6_2-branch/amazonlinux2-aarch64.yml
  _data/builds/swift-6_2-branch/amazonlinux2.yml
  _data/builds/swift-6_2-branch/debian12-aarch64.yml
  _data/builds/swift-6_2-branch/debian12.yml
  _data/builds/swift-6_2-branch/fedora39-aarch64.yml
  _data/builds/swift-6_2-branch/fedora39.yml
  _data/builds/swift-6_2-branch/static-sdk.yml
  _data/builds/swift-6_2-branch/ubi9-aarch64.yml
  _data/builds/swift-6_2-branch/ubi9.yml
  _data/builds/swift-6_2-branch/ubuntu2204-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2204.yml
  _data/builds/swift-6_2-branch/ubuntu2404-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2404.yml
  _data/builds/swift-6_2-branch/wasm-sdk.yml
  _data/builds/swift-6_2-branch/xcode.yml
Owners: @swiftlang/website-workgroup

Add Nightly swift-DEVELOPMENT-SNAPSHOT-2025-09-06-a
  _data/builds/development/amazonlinux2-aarch64.yml
  _data/builds/development/amazonlinux2.yml
  _data/builds/development/debian12-aarch64.yml
  _data/builds/development/debian12.yml
  _data/builds/development/ubi9-aarch64.yml
  _data/builds/development/ubi9.yml
  _data/builds/development/ubuntu2204-aarch64.yml
  _data/builds/development/ubuntu2204.yml
  _data/builds/development/ubuntu2404-aarch64.yml
  _data/builds/development/ubuntu2404.yml
  _data/builds/development/wasm-sdk.yml
  _data/builds/development/xcode.yml
Owners: @swiftlang/website-workgroup

[Windows] Add Nightly swift-DEVELOPMENT-SNAPSHOT-2025-09-06-a
  _data/builds/development/windows10-arm64.yml
  _data/builds/development/windows10.yml
Owners: @swiftlang/website-workgroup

[Windows] Add Nightly swift-6.2-DEVELOPMENT-SNAPSHOT-2025-09-06-a
  _data/builds/swift-6_2-branch/windows10-arm64.yml
  _data/builds/swift-6_2-branch/windows10.yml
Owners: @swiftlang/website-workgroup

Add Nightly swift-DEVELOPMENT-SNAPSHOT-2025-09-07-a
  _data/builds/development/amazonlinux2-aarch64.yml
  _data/builds/development/amazonlinux2.yml
  _data/builds/development/debian12-aarch64.yml
  _data/builds/development/debian12.yml
  _data/builds/development/ubi9-aarch64.yml
  _data/builds/development/ubi9.yml
  _data/builds/development/ubuntu2204-aarch64.yml
  _data/builds/development/ubuntu2204.yml
  _data/builds/development/ubuntu2404-aarch64.yml
  _data/builds/development/ubuntu2404.yml
  _data/builds/development/wasm-sdk.yml
  _data/builds/development/xcode.yml
Owners: @swiftlang/website-workgroup

Packages page search ranking and compatibility updates.
  _data/packages/packages.yml
  _data/packages/showcase-history.yml
Owners: @swiftlang/website-workgroup

Packages page search ranking and compatibility updates. (#1148)
  _data/packages/packages.yml
  _data/packages/showcase-history.yml
Owners: @swiftlang/website-workgroup

Updated Community Showcase packages for September.
  _data/packages/packages.yml
  _data/packages/showcase-history.yml
Owners: @swiftlang/website-workgroup

[Windows] Add Nightly swift-DEVELOPMENT-SNAPSHOT-2025-09-07-a
  _data/builds/development/windows10-arm64.yml
  _data/builds/development/windows10.yml
Owners: @swiftlang/website-workgroup

[Release] Swift 6.1.3 (#1146)
  _data/builds/swift_releases.yml
Owners: @swiftlang/website-workgroup

Reduce size article featured image
  assets/images/swift-redesign-blog/swift-redesign-blog.png
Owners: @swiftlang/website-workgroup

Reduce size article featured image
  assets/images/swift-redesign-blog/swift-redesign-blog.png
Owners: @swiftlang/website-workgroup

Add h2 anchors where missing
  _includes/new-includes/components/linux-releases.html
  assets/javascripts/new-javascripts/application.js
  assets/stylesheets/new-stylesheets/_core.scss
  assets/stylesheets/new-stylesheets/_themes.scss
  documentation/index.md
  install/linux/index.md
  install/macos/index.md
  install/windows/index.md
Owners: @swiftlang/website-workgroup

Add h2 anchors where missing (#1070)
  _includes/new-includes/components/linux-releases.html
  assets/javascripts/new-javascripts/application.js
  assets/stylesheets/new-stylesheets/_core.scss
  assets/stylesheets/new-stylesheets/_themes.scss
  documentation/index.md
  install/linux/index.md
  install/macos/index.md
  install/windows/index.md
Owners: @swiftlang/website-workgroup

Add GitHub Actions workflow for staging
  .github/workflows/jekyll-gh-pages.yml
Owners: @swiftlang/website-workgroup

Restructure the Swift Testing updates and add raw identifiers.
  _posts/2025-NN-NN-swift-6.2-released.md
Owners: @timsneath, @tkremenek, @shahmishal, @davelester

Add a link to safe Swift/C++ interop documentation.
  _posts/2025-NN-NN-swift-6.2-released.md
Owners: @timsneath, @tkremenek, @shahmishal, @davelester

[Fedora 41] Add nightly Fedora 41 toolchains for main branch
  _data/builds/development/fedora41-aarch64.yml
  _data/builds/development/fedora41.yml
  _data/install/fedora.yml
  _data/new-data/install/linux/os-names.yml
  _includes/new-includes/assigns/linux-platform-builds.html
  _includes/new-includes/components/linux-releases.html
  install/linux/fedora/41/index.md
Owners: @swiftlang/website-workgroup

feat(blog-redesign): Refactor JS. Add blog preview image to filtered posts.
  assets/javascripts/new-javascripts/blog.js
  assets/stylesheets/new-stylesheets/pages/_blog.scss
  blog/index.md
Owners: @swiftlang/website-workgroup

chor(blog-redesign): Revert updates to disrelated files.
  .prettierignore
  _data/new-data/get-started/storybook/image-text-row.yml
  _includes/new-includes/components/card-grid.html
  _includes/new-includes/components/hero-card.html
  _posts/2015-12-03-swift-linux-port.md
  _posts/2024-03-25-adwaita-swift.md
  _posts/2025-03-31-swift-6.1-released.md
  _posts/2025-06-04-redesigned-swift-org-is-now-live.md
Owners: @swiftlang/website-workgroup, @timsneath, @tkremenek, @shahmishal, @davelester

chor(blog-redesign): Update blog data to display FPO image in hero.
  _posts/2024-09-17-announcing-swift-6.md
  _posts/2025-03-31-swift-6.1-released.md
Owners: @timsneath, @tkremenek, @shahmishal, @davelester

Updated Community Showcase packages for September. (#1149)
  _data/packages/packages.yml
  _data/packages/showcase-history.yml
Owners: @swiftlang/website-workgroup
