Repository swiftlang/swift-org-website, changes with the owners that CODEOWNERS names for each.
All owners: @swiftlang/website-workgroup, @timsneath, @tkremenek, @shahmishal, @davelester, @swiftlang/contributor-experience, @ktoso, @czechboy0, @heckj

CODEOWNERS:

# This file is a list of the people responsible for ensuring that patches for a
# particular part of Swift.org are reviewed, either by themselves or by someone else.
# They are also the gatekeepers for their part of Swift.org, with the final word on
# what goes in or not.
#
# The list is sorted by surname and formatted to allow easy grepping and
# beautification by scripts.  The fields are: name (N), email (E), web-address
# (W), PGP key ID and fingerprint (P), description (D), and snail-mail address
# (S).

# N: Ben Cohen
# E: ben_cohen@apple.com
# D: Apple, Swift core team

# N: Mishal Shah
# E: mishal_shah@apple.com
# D: Apple, Swift core team

# N: Ted Kremenek
# E: kremenek@apple.com
# D: Apple, Swift core team

###

# The following lines are used by GitHub to automatically recommend reviewers.
#
# Lines starting with '#' are comments.
# Each line is a case-sensitive file pattern followed by one or more owners.
# Order is important â€” the last matching pattern has the most precedence.
# More information: https://docs.github.com/en/articles/about-code-owners
#
# Please mirror the repository's file hierarchy in case-sensitive lexicographic
# order.

* @swiftlang/website-workgroup

CODEOWNERS @timsneath @tkremenek @shahmishal @davelester
/index.md @timsneath @tkremenek @shahmishal @davelester
/_data/new-data/landing/* @timsneath @tkremenek @shahmishal @davelester
/_posts/* @timsneath @tkremenek @shahmishal @davelester

/contributor-experience-workgroup/ @swiftlang/contributor-experience

/gsoc*/ @ktoso

/openapi/ @czechboy0 @heckj

Add Nightly swift-6.2-DEVELOPMENT-SNAPSHOT-2025-08-21-a
  _data/builds/swift-6_2-branch/amazonlinux2-aarch64.yml
  _data/builds/swift-6_2-branch/amazonlinux2.yml
  _data/builds/swift-6_2-branch/debian12-aarch64.yml
  _data/builds/swift-6_2-branch/debian12.yml
  _data/builds/swift-6_2-branch/fedora39-aarch64.yml
  _data/builds/swift-6_2-branch/fedora39.yml
  _data/builds/swift-6_2-branch/static-sdk.yml
  _data/builds/swift-6_2-branch/ubi9-aarch64.yml
  _data/builds/swift-6_2-branch/ubi9.yml
  _data/builds/swift-6_2-branch/ubuntu2004-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2004.yml
  _data/builds/swift-6_2-branch/ubuntu2204-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2204.yml
  _data/builds/swift-6_2-branch/ubuntu2404-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2404.yml
  _data/builds/swift-6_2-branch/wasm-sdk.yml
  _data/builds/swift-6_2-branch/xcode.yml
Owners: @swiftlang/website-workgroup

Add Nightly swift-DEVELOPMENT-SNAPSHOT-2025-08-21-a
  _data/builds/development/amazonlinux2-aarch64.yml
  _data/builds/development/amazonlinux2.yml
  _data/builds/development/debian12-aarch64.yml
  _data/builds/development/debian12.yml
  _data/builds/development/ubi9-aarch64.yml
  _data/builds/development/ubi9.yml
  _data/builds/development/ubuntu2004-aarch64.yml
  _data/builds/development/ubuntu2004.yml
  _data/builds/development/ubuntu2204-aarch64.yml
  _data/builds/development/ubuntu2204.yml
  _data/builds/development/ubuntu2404-aarch64.yml
  _data/builds/development/ubuntu2404.yml
  _data/builds/development/wasm-sdk.yml
  _data/builds/development/xcode.yml
Owners: @swiftlang/website-workgroup

Add Nightly swift-DEVELOPMENT-SNAPSHOT-2025-08-23-a
  _data/builds/development/amazonlinux2-aarch64.yml
  _data/builds/development/amazonlinux2.yml
  _data/builds/development/debian12-aarch64.yml
  _data/builds/development/debian12.yml
  _data/builds/development/ubi9-aarch64.yml
  _data/builds/development/ubi9.yml
  _data/builds/development/ubuntu2004-aarch64.yml
  _data/builds/development/ubuntu2004.yml
  _data/builds/development/ubuntu2204-aarch64.yml
  _data/builds/development/ubuntu2204.yml
  _data/builds/development/ubuntu2404-aarch64.yml
  _data/builds/development/ubuntu2404.yml
  _data/builds/development/wasm-sdk.yml
  _data/builds/development/xcode.yml
Owners: @swiftlang/website-workgroup

Updated Korean translation URL
  documentation/tspl/index.md
Owners: @swiftlang/website-workgroup

Add Nightly swift-DEVELOPMENT-SNAPSHOT-2025-08-25-a
  _data/builds/development/amazonlinux2-aarch64.yml
  _data/builds/development/amazonlinux2.yml
  _data/builds/development/debian12-aarch64.yml
  _data/builds/development/debian12.yml
  _data/builds/development/ubi9-aarch64.yml
  _data/builds/development/ubi9.yml
  _data/builds/development/ubuntu2004-aarch64.yml
  _data/builds/development/ubuntu2004.yml
  _data/builds/development/ubuntu2204-aarch64.yml
  _data/builds/development/ubuntu2204.yml
  _data/builds/development/ubuntu2404-aarch64.yml
  _data/builds/development/ubuntu2404.yml
  _data/builds/development/wasm-sdk.yml
  _data/builds/development/xcode.yml
Owners: @swiftlang/website-workgroup

[fix]: resolve broken image links in swift-5-exclusivity post
  assets/images/exclusivity-blog/Example1.png
  assets/images/exclusivity-blog/Example2.png
  assets/images/exclusivity-blog/Example3.png
  assets/images/exclusivity-blog/Example4a.png
  assets/images/exclusivity-blog/Example4b.png
  assets/images/exclusivity-blog/XcodeBuildSettings.png
Owners: @swiftlang/website-workgroup

[Windows] Add Nightly swift-DEVELOPMENT-SNAPSHOT-2025-08-25-a
  _data/builds/development/windows10-arm64.yml
  _data/builds/development/windows10.yml
Owners: @swiftlang/website-workgroup

[fix]: resolve broken image links in swift-5-exclusivity post (#1136)
  assets/images/exclusivity-blog/Example1.png
  assets/images/exclusivity-blog/Example2.png
  assets/images/exclusivity-blog/Example3.png
  assets/images/exclusivity-blog/Example4a.png
  assets/images/exclusivity-blog/Example4b.png
  assets/images/exclusivity-blog/XcodeBuildSettings.png
Owners: @swiftlang/website-workgroup

Update GitHub links for Swift projects and bug tracker
  community/index.md
Owners: @swiftlang/website-workgroup

Update GitHub links for Swift projects and bug tracker (#1137)
  community/index.md
Owners: @swiftlang/website-workgroup

[Windows] Add Nightly swift-6.2-DEVELOPMENT-SNAPSHOT-2025-08-21-a
  _data/builds/swift-6_2-branch/windows10-arm64.yml
  _data/builds/swift-6_2-branch/windows10.yml
Owners: @swiftlang/website-workgroup

Add Nightly swift-DEVELOPMENT-SNAPSHOT-2025-08-26-a
  _data/builds/development/amazonlinux2-aarch64.yml
  _data/builds/development/amazonlinux2.yml
  _data/builds/development/debian12-aarch64.yml
  _data/builds/development/debian12.yml
  _data/builds/development/ubi9-aarch64.yml
  _data/builds/development/ubi9.yml
  _data/builds/development/ubuntu2004-aarch64.yml
  _data/builds/development/ubuntu2004.yml
  _data/builds/development/ubuntu2204-aarch64.yml
  _data/builds/development/ubuntu2204.yml
  _data/builds/development/ubuntu2404-aarch64.yml
  _data/builds/development/ubuntu2404.yml
  _data/builds/development/wasm-sdk.yml
  _data/builds/development/xcode.yml
Owners: @swiftlang/website-workgroup

[Windows] Add Nightly swift-DEVELOPMENT-SNAPSHOT-2025-08-26-a
  _data/builds/development/windows10-arm64.yml
  _data/builds/development/windows10.yml
Owners: @swiftlang/website-workgroup

Add Nightly swift-DEVELOPMENT-SNAPSHOT-2025-08-27-a
  _data/builds/development/amazonlinux2-aarch64.yml
  _data/builds/development/amazonlinux2.yml
  _data/builds/development/debian12-aarch64.yml
  _data/builds/development/debian12.yml
  _data/builds/development/ubi9-aarch64.yml
  _data/builds/development/ubi9.yml
  _data/builds/development/ubuntu2004-aarch64.yml
  _data/builds/development/ubuntu2004.yml
  _data/builds/development/ubuntu2204-aarch64.yml
  _data/builds/development/ubuntu2204.yml
  _data/builds/development/ubuntu2404-aarch64.yml
  _data/builds/development/ubuntu2404.yml
  _data/builds/development/wasm-sdk.yml
  _data/builds/development/xcode.yml
Owners: @swiftlang/website-workgroup

[Windows] Add Nightly swift-DEVELOPMENT-SNAPSHOT-2025-08-27-a
  _data/builds/development/windows10-arm64.yml
  _data/builds/development/windows10.yml
Owners: @swiftlang/website-workgroup

Refer to the correct RFC in the text
  _posts/2024-08-21-introducing-swift-nio-oblivious-http.md
Owners: @timsneath, @tkremenek, @shahmishal, @davelester

Refer to the correct RFC in the text (#1139)
  _posts/2024-08-21-introducing-swift-nio-oblivious-http.md
Owners: @timsneath, @tkremenek, @shahmishal, @davelester

Add Nightly swift-6.2-DEVELOPMENT-SNAPSHOT-2025-08-28-a
  _data/builds/swift-6_2-branch/amazonlinux2-aarch64.yml
  _data/builds/swift-6_2-branch/amazonlinux2.yml
  _data/builds/swift-6_2-branch/debian12-aarch64.yml
  _data/builds/swift-6_2-branch/debian12.yml
  _data/builds/swift-6_2-branch/fedora39-aarch64.yml
  _data/builds/swift-6_2-branch/fedora39.yml
  _data/builds/swift-6_2-branch/static-sdk.yml
  _data/builds/swift-6_2-branch/ubi9-aarch64.yml
  _data/builds/swift-6_2-branch/ubi9.yml
  _data/builds/swift-6_2-branch/ubuntu2004-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2004.yml
  _data/builds/swift-6_2-branch/ubuntu2204-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2204.yml
  _data/builds/swift-6_2-branch/ubuntu2404-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2404.yml
  _data/builds/swift-6_2-branch/wasm-sdk.yml
  _data/builds/swift-6_2-branch/xcode.yml
Owners: @swiftlang/website-workgroup

[Windows] Add Nightly swift-6.2-DEVELOPMENT-SNAPSHOT-2025-08-28-a
  _data/builds/swift-6_2-branch/windows10-arm64.yml
  _data/builds/swift-6_2-branch/windows10.yml
Owners: @swiftlang/website-workgroup

Add Nightly swift-6.2-DEVELOPMENT-SNAPSHOT-2025-08-29-a
  _data/builds/swift-6_2-branch/amazonlinux2-aarch64.yml
  _data/builds/swift-6_2-branch/amazonlinux2.yml
  _data/builds/swift-6_2-branch/debian12-aarch64.yml
  _data/builds/swift-6_2-branch/debian12.yml
  _data/builds/swift-6_2-branch/fedora39-aarch64.yml
  _data/builds/swift-6_2-branch/fedora39.yml
  _data/builds/swift-6_2-branch/static-sdk.yml
  _data/builds/swift-6_2-branch/ubi9-aarch64.yml
  _data/builds/swift-6_2-branch/ubi9.yml
  _data/builds/swift-6_2-branch/ubuntu2004-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2004.yml
  _data/builds/swift-6_2-branch/ubuntu2204-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2204.yml
  _data/builds/swift-6_2-branch/ubuntu2404-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2404.yml
  _data/builds/swift-6_2-branch/wasm-sdk.yml
  _data/builds/swift-6_2-branch/xcode.yml
Owners: @swiftlang/website-workgroup

[Windows] Add Nightly swift-6.2-DEVELOPMENT-SNAPSHOT-2025-08-29-a
  _data/builds/swift-6_2-branch/windows10-arm64.yml
  _data/builds/swift-6_2-branch/windows10.yml
Owners: @swiftlang/website-workgroup

Add Nightly swift-6.2-DEVELOPMENT-SNAPSHOT-2025-08-30-a
  _data/builds/swift-6_2-branch/amazonlinux2-aarch64.yml
  _data/builds/swift-6_2-branch/amazonlinux2.yml
  _data/builds/swift-6_2-branch/debian12-aarch64.yml
  _data/builds/swift-6_2-branch/debian12.yml
  _data/builds/swift-6_2-branch/fedora39-aarch64.yml
  _data/builds/swift-6_2-branch/fedora39.yml
  _data/builds/swift-6_2-branch/static-sdk.yml
  _data/builds/swift-6_2-branch/ubi9-aarch64.yml
  _data/builds/swift-6_2-branch/ubi9.yml
  _data/builds/swift-6_2-branch/ubuntu2004-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2004.yml
  _data/builds/swift-6_2-branch/ubuntu2204-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2204.yml
  _data/builds/swift-6_2-branch/ubuntu2404-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2404.yml
  _data/builds/swift-6_2-branch/wasm-sdk.yml
  _data/builds/swift-6_2-branch/xcode.yml
Owners: @swiftlang/website-workgroup

[Windows] Add Nightly swift-6.2-DEVELOPMENT-SNAPSHOT-2025-08-30-a
  _data/builds/swift-6_2-branch/windows10-arm64.yml
  _data/builds/swift-6_2-branch/windows10.yml
Owners: @swiftlang/website-workgroup

[windows] update the install instructions to use Python 3.10
  _includes/install/_windows_dependencies.md
  install/windows/_manual.md
  install/windows/_windows.md
  install/windows/manual/index.md
Owners: @swiftlang/website-workgroup

[windows] update the install instructions to use Python 3.10 (#1140)
  _includes/install/_windows_dependencies.md
  install/windows/_manual.md
  install/windows/_windows.md
  install/windows/manual/index.md
Owners: @swiftlang/website-workgroup

Revert "[windows] update the install instructions to use Python 3.10 (#1140)"
  _includes/install/_windows_dependencies.md
  install/windows/_manual.md
  install/windows/_windows.md
  install/windows/manual/index.md
Owners: @swiftlang/website-workgroup

Revert "[windows] update the install instructions to use Python 3.10 (#1140)" (#1141)
  _includes/install/_windows_dependencies.md
  install/windows/_manual.md
  install/windows/_windows.md
  install/windows/manual/index.md
Owners: @swiftlang/website-workgroup

Add Nightly swift-6.2-DEVELOPMENT-SNAPSHOT-2025-09-03-a
  _data/builds/swift-6_2-branch/amazonlinux2-aarch64.yml
  _data/builds/swift-6_2-branch/amazonlinux2.yml
  _data/builds/swift-6_2-branch/debian12-aarch64.yml
  _data/builds/swift-6_2-branch/debian12.yml
  _data/builds/swift-6_2-branch/fedora39-aarch64.yml
  _data/builds/swift-6_2-branch/fedora39.yml
  _data/builds/swift-6_2-branch/static-sdk.yml
  _data/builds/swift-6_2-branch/ubi9-aarch64.yml
  _data/builds/swift-6_2-branch/ubi9.yml
  _data/builds/swift-6_2-branch/ubuntu2204-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2204.yml
  _data/builds/swift-6_2-branch/ubuntu2404-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2404.yml
  _data/builds/swift-6_2-branch/wasm-sdk.yml
  _data/builds/swift-6_2-branch/xcode.yml
Owners: @swiftlang/website-workgroup

[Windows] Add Nightly swift-6.2-DEVELOPMENT-SNAPSHOT-2025-09-03-a
  _data/builds/swift-6_2-branch/windows10-arm64.yml
  _data/builds/swift-6_2-branch/windows10.yml
Owners: @swiftlang/website-workgroup

proposal to add Swift Docs repository structure (#1128)
  _info-architecture/0003-swift-docs-proposal.md
Owners: @swiftlang/website-workgroup

update[static-sdk]: expand installation section
  documentation/articles/static-linux-getting-started.md
Owners: @swiftlang/website-workgroup

Add Nightly swift-6.2-DEVELOPMENT-SNAPSHOT-2025-09-04-a
  _data/builds/swift-6_2-branch/amazonlinux2-aarch64.yml
  _data/builds/swift-6_2-branch/amazonlinux2.yml
  _data/builds/swift-6_2-branch/debian12-aarch64.yml
  _data/builds/swift-6_2-branch/debian12.yml
  _data/builds/swift-6_2-branch/fedora39-aarch64.yml
  _data/builds/swift-6_2-branch/fedora39.yml
  _data/builds/swift-6_2-branch/static-sdk.yml
  _data/builds/swift-6_2-branch/ubi9-aarch64.yml
  _data/builds/swift-6_2-branch/ubi9.yml
  _data/builds/swift-6_2-branch/ubuntu2204-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2204.yml
  _data/builds/swift-6_2-branch/ubuntu2404-aarch64.yml
  _data/builds/swift-6_2-branch/ubuntu2404.yml
  _data/builds/swift-6_2-branch/wasm-sdk.yml
  _data/builds/swift-6_2-branch/xcode.yml
Owners: @swiftlang/website-workgroup

Add Nightly swift-DEVELOPMENT-SNAPSHOT-2025-09-04-a
  _data/builds/development/amazonlinux2-aarch64.yml
  _data/builds/development/amazonlinux2.yml
  _data/builds/development/debian12-aarch64.yml
  _data/builds/development/debian12.yml
  _data/builds/development/ubi9-aarch64.yml
  _data/builds/development/ubi9.yml
  _data/builds/development/ubuntu2204-aarch64.yml
  _data/builds/development/ubuntu2204.yml
  _data/builds/development/ubuntu2404-aarch64.yml
  _data/builds/development/ubuntu2404.yml
  _data/builds/development/wasm-sdk.yml
  _data/builds/development/xcode.yml
Owners: @swiftlang/website-workgroup

Rephrase the `Committer` role
  contributing/_contributing-code.md
Owners: @swiftlang/website-workgroup

[Windows] Add Nightly swift-DEVELOPMENT-SNAPSHOT-2025-09-04-a
  _data/builds/development/windows10-arm64.yml
  _data/builds/development/windows10.yml
Owners: @swiftlang/website-workgroup

[Windows] Add Nightly swift-6.2-DEVELOPMENT-SNAPSHOT-2025-09-04-a
  _data/builds/swift-6_2-branch/windows10-arm64.yml
  _data/builds/swift-6_2-branch/windows10.yml
Owners: @swiftlang/website-workgroup

Rephrase the `Committer` role (#1142)
  contributing/_contributing-code.md
Owners: @swiftlang/website-workgroup

Fix a typo in the Pack Iteration post and update `authors.yml`.
  _data/authors.yml
  _posts/2024-03-07-pack-iteration.md
Owners: @swiftlang/website-workgroup, @timsneath, @tkremenek, @shahmishal, @davelester

Fix a typo in the Pack Iteration post and update `authors.yml`. (#1144)
  _data/authors.yml
  _posts/2024-03-07-pack-iteration.md
Owners: @swiftlang/website-workgroup, @timsneath, @tkremenek, @shahmishal, @davelester

update[static-sdk]: apply reviewers suggestions
  documentation/articles/static-linux-getting-started.md
Owners: @swiftlang/website-workgroup
